*{
    margin: 0%;
    padding: 0%;
}
#show:hover + #cont{
    display: block;
    position: absolute;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: solid;
    text-transform: uppercase;
}
#disable{
    color: darkblue;
    text-decoration-line: none;
    text-decoration-color: greenyellow;
}
Link{
    text-decoration: none;
}
Link:hover{
    text-decoration: wavy;
}