#alls{
    background-color: darkslategrey;
    transition-duration: all 0.58s ease-in-out;
}
#alls:hover{
    transition: all 0.9s ease-in-out;
    background-image: url(../Img\ component/mmt.jpg);
    transform: translate(3px, 2px);
    
}